{
    "extends": "eslint-config-airbnb",
    "rules": {
        "indent": 0,
        "no-tabs": 0,
        "no-confusing-arrow": 0,
		"no-nested-ternary": 0,
        "react/jsx-curly-spacing": 0,
        "react/jsx-indent-props": 0,
        "jsx-quotes": ["error", "prefer-single"],
        "react/jsx-filename-extension": 0,
        "react/jsx-indent": 0,
		"react/jsx-closing-bracket-location": 0,
        "jsx-a11y/href-no-hash": 0,
    }
}
