.App-repository{
  padding: 1em;
}
.App-repository aside{
  background: lightgrey;
  padding: 0.5em;
}
.App-RepositoryScore{
  background: #aaaaaa;
  padding: 0.1em;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
}
.App-RepositoryDates{
  color: grey;
}
.App-repositoryDescription{
  margin: 1em 0;
}
