.App-searchpage,
.App-searchpage main{
  flex-grow: 1;
  display : flex;
}
.App-error{
  font-size: 2em;
  margin: auto auto auto auto;
  font-weight: bold;
  color: silver;
}
.App-searchlist{
  background-color: lightgrey;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.App-searchlistItem{
  text-align: left;
  cursor: pointer;
  background-color: white;
  margin: 0.2em;
  border-radius: 1em;
  border: solid 1px;
  border-color: silver dimgrey dimgrey lightgrey;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 1;
}
.App-searchlistItem:hover{
  border-width: 0px 1px 2px 1px;
}
.App-searchlistItem>*{
  padding: 1em;
}
