*,*>*{
  box-sizing: border-box;
}
html,body,#root,.appContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: dimgrey;
  background-image: repeating-linear-gradient(-15deg, transparent, transparent 1px, dimgrey 1px, grey 2px);
}

.appContainer{
  display: flex;
  flex-direction: column;
}

.App-header{
  flex-grow: 0;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: dimgrey;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 3px, grey 3px, grey 6px);
}

.App-main{
  display: flex;
  flex-direction: column;
  background: white;
}

.App-main>main{
  overflow-y: auto;
  overflow-x: hidden;
}

.App-button:visited,
.App-button{
  cursor: pointer;
  display: flex;
  height: 2em;
  line-height: 2em;
  padding: 0 0.5em;
  margin: 0.1em;
  border-radius: 0.1em;
  background-color: grey;
  border-color: dimgrey;
  text-decoration: none;
  color: white;
  text-overflow: ellipces;
  overflow: hidden;
}
.App-button:hover{
  color: black;
  background-color: silver;
}

.App-button-big:visited,
.App-button-big{
  cursor: pointer;
  display: inline-block;
  font-size: 2em;
  height: 2em;
  line-height: 2em;
  padding: 0 0.5em;
  margin: 0.5em;
  border-radius: 0.3em;
  background-color: green;
  border-color: darkgreen;
  text-decoration: none;
  color: white;
}
.App-button-big:hover{
  color: darkgreen;
  background-color: lightgreen;
}

.App-button-small:visited,
.App-button-small{
  cursor: pointer;
  display: inline-block;
  padding: 0 0.5em;
  margin: 0 0.5em;
  border-radius: 0.3em;
  background-color: grey;
  border-color: dimgrey;
  text-decoration: none;
  color: white;
}
.App-button-small:hover{
  color: black;
  background-color: silver;
}
.App-main ul{
  padding-left: 1em;
}
.App-main dl,
.App-main dt,
.App-main dd{
  margin: 0;
  padding: 0;
}

.App-main dt{
  display: inline-block;
  font-weight: bold;
}

.App-main dd{
  display: inline-block;
  margin: 0 1em;
}

@keyframes infinite-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

