*,*>*{
  box-sizing: border-box;
}
ul{
  padding-left: 1em;
}
html,body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: dimgrey;
  background-image: repeating-linear-gradient(-15deg, transparent, transparent 1px, dimgrey 1px, grey 2px);
}
#root{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}
.appContainer{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.App-logo{
  height: 5em;
}
.App-logo img{
  margin-left: -50px;
  height: 100px;
  width: 100px;
  position: absolute;
  animation: infinite-rotate infinite 5s linear;
  height: 80px;
}
.App-logo img:first-child{
  opacity: 0.5;
  animation-duration: 4s;
}

.App-button:visited,
.App-button{
  display: flex;
  height: 2em;
  line-height: 2em;
  padding: 0 0.5em;
  margin: 0.1em;
  border-radius: 0.1em;
  background-color: grey;
  border-color: dimgrey;
  text-decoration: none;
  color: white;
  text-overflow: ellipces;
  overflow: hidden;
}
.App-button:hover{
  color: black;
  background-color: silver;
}

.App-button-big:visited,
.App-button-big{
  display: inline-block;
  font-size: 2em;
  height: 2em;
  line-height: 2em;
  padding: 0 0.5em;
  margin: 0.5em;
  border-radius: 0.3em;
  background-color: green;
  border-color: darkgreen;
  text-decoration: none;
  color: white;
}
.App-button-big:hover{
  color: darkgreen;
  background-color: lightgreen;
}

@keyframes infinite-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.appContainer{
  display: flex;
  flex-direction: column;
}

.App-header{
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  flex-grow: 0;
  background: white;
  font-size: 2em;
  text-transform: uppercase;
  background: dimgrey;
  color: white;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 3px, grey 3px, grey 6px);
}

.App-main{
  display: flex;
  flex-direction: column;
  background: white;
}

.App-main>main{
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}

.App-main>main>*{
  text-align: left;
}

.App-footer{
  color: white;
  min-height: 2em;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-grow: 0;
  background: dimgrey;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 3px, grey 3px, grey 6px);
}

.App-footer>aside{
  height: 2em;
  line-height: 2em;
  flex-grow: 2;
  text-align: left;
  padding-left: 1em;
}

.App-infoblock{
  padding: 1em;
}

.App-main dl,
.App-main dt,
.App-main dd{
  margin: 0;
  padding: 0;
}

.App-main dt{
  font-weight: bold;
  display: inline-block;
}

.App-main dd{
  display: inline-block;
  margin: 0 1em;
}
